#Texmaker Output
Documentation/*.aux
Documentation/*.lof
Documentation/*.log
Documentation/*.out
Documentation/*.pdf
Documentation/*.toc
Documentation/*.synctex.gz


#Library Folder
VR_Presentation/Library/

#Resources Folder
VR_Presentation/Assets/Resources/Audio/
VR_Presentation/Assets/Resources/Images/
VR_Presentation/Assets/Resources/Videos/
